.headerConteiner {
  justify-content: flex-end;
  .header {
    float: left;
    /* padding-left: 5%; */
    min-height: 20vh;
    font-size: calc(10px + 2vmin);
  }
  .Logon {
    display: flex;
    justify-content: flex-end;
    &-Msg {
      cursor: pointer;
      margin-top: 2px;
      padding: 2px;
    }
    &-Ico {
      cursor: pointer;
    }
  }
}
