$reddish : #E74C3C;
$redder : #C0392B;
$cloud : #ECF0F1;

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  font-family: "Montserrat", sans-serif;
  background: $cloud;
}

.flat-button-show-requests {
  position: relative;
  width: 120px; height: 60px;
  background: $reddish;
  margin: 0 auto;
  margin-top: 0px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: color .3s;
  /* Typo */
  line-height: 60px;
  text-align: center;
  color: #fff;
}

.flat-button:after {
  position: absolute;
  top: 90%; left: 0;
  width: 100%; height: 100%;
  background: $redder;
  content: "";
  z-index: -2;
  transition: transform .3s;
}

.flat-button:hover::after {
  transform: translateY(-80%);
  transition: transform .3s;
}